<!DOCTYPE html>
<html>
  <head>
    <title> Triton Friends </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/createAccount.js"></script>
  </head>

  <body>
    <div class="createAccount page">
      <div class="flex-col subtitle">
        <label> Create an Account </label>
      </div>
      <form class="create-form flex-col" method="POST" action="/signup">
        <label class="taken hidden"> Username is already taken! </label>
        <input type="text" placeholder="Name" name="name" required/>
        <input type="text" placeholder="Username" name="username" id="username" required />
        <input type="text" placeholder="Phone Number" name="phone" required/>
        <input type="password" placeholder="Password" name="password" required/>
        <input type="number" placeholder="Graduating Year" name="year" required/>
        <input type="text" placeholder="Major" name="major" required/>
        <input class="dark-btn" type="submit" value="Sign Up" id="submit"/>
      </form>
    </div>
  </body>
</html>