<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
  </head>

  <body>
      <div class="group page">

          <div class="header shrink">
            <span> <a class="back-btn icon" href="../groups"> </a> </span>
            <label class="title"> {{group.name}} </label>
          </div>

          <main>
            <div>
              <label> {{group.name}} </label>
              <p> {{group.description}} </p>
            </div>

          </main>

      </div>
  </body>
</html>