<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/scroll.js"></script>
  </head>

  <body>
      <div class="groupsPage">

          <div class="header">
            <span></span>
            <label class="title"> {{title}} </label>
          </div>

          <main>
            <div class="groups-list">
              <label> you aren't in any study groups in yet </label>
              <a class="item"> 
                <span> OOO </span>
                <label> group name </label>
              </a>
              {{#each groups}}
              {{/each}}
            </div>

            <button class="post-btn"> </button>

          </main>

          <nav>
            <a href="/class/{{url}}"> <span class="home-btn icon"> </span> </a>
            <a href="/class/{{url}}/groups"> <span class="group-btn icon"> </span> </a>
          </nav>

      </div>
  </body>
</html>