<!DOCTYPE html>
<html>
  <head>
    <title> Triton Friends </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/index.js"></script>
  </head>

  <body>
    <div class="login page">
      <div class="flex-col title">
        <label> TritonFriends </label>
        <label> Helping you survive college. </label>
      </div>
      <form class="login-form flex-col" method="POST" action="/login">
        <input type="text" placeholder="Username" name="username"/>
        <input type="password" placeholder="Password" name="password"/>
        <input type="submit" value="Login"/>
      </form>
    </div>
  </body>
</html>