<!DOCTYPE html>
<html>
  <head>
    <title> Triton Friends </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/index.js"></script>
  </head>

  <body>
    <div class="login page">
      <div class="flex-col title">
        <img src="/css/icons/Smiley.png" width="100" height="100"/>
        <label> TritonFriends </label>
      </div>

      {{#if incorrect}}
        <label class="incorrect"> Incorrect username or password! </label>
      {{/if}}

      <form class="login-form flex-col" method="POST" action="/login">
        <input type="text" placeholder="Username" name="username" autocomplete="off"/>
        <input type="password" placeholder="Password" name="password" autocomplete="off"/>
        <input class="dark-btn" type="submit" value="Login"/>
        <a href="/createAccount"> Create an Account </a>
      </form>

    </div>
  </body>
</html>