<!DOCTYPE html>
<html>
  <head>
    <title> Triton Friends </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/index.js"></script>
  </head>

  <body>
    <main>
      <div class="homepage">
        <nav>
          <label class="title"> Your Classes </label>
        </nav>

        <div class="class-list">
          {{#each classes}}
            <a class="item" href="class/{{url}}"> 
              <span class="icon"> {{number}} </span>
              <label> {{title}} </label>
            </a>
          {{/each}}
        </div>

        <button class="join-btn"> Join a class </button>

      </div>
    </main>
  </body>
</html>