<!DOCTYPE html>
<html>
  <head>
    <title> Groups </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/scroll.js"></script>
  </head>

  <body>
      <div class="joinGroup page">
          <div class="header">
            <div class="bar">
              <span> <a class="back-btn icon" href="../groups"> </a> </span>
              <label class="title"> Find Study Group </label>
              <span></span>
            </div>
          </div>

          <main>
            <div class="groups-list flex-col">
              {{#each groups}}
                <a class="item" href="{{id}}"> 
                  {{name}}
                </a>
                <br/>
              {{/each}}
            </div>
          </main>
      </div>
  </body>
</html>