<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/scroll.js"></script>
  </head>

  <body>
      <div class="classpage">

          <div class="header">
            <span> <a class="back-btn icon" href="/home"> </a> </span>
            <label class="title"> {{title}} </label>
          </div>

          <main>
            <div class="join-groups-list">
              {{#each groups}}
                <a class="item"> 
                </a>
              {{/each}}
            </div>
          </main>

      </div>
  </body>
</html>