<!DOCTYPE html>
<html>
  <head>
    <title> Triton Friends </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/scroll.js"></script>
  </head>

  <body>
    <div class="joinClass page">
      <div class="header">
        <span> <a class="back-btn icon" href="/home"> </a> </span>
        <label class="title"> Join a Class </label>
      </div>

      <main>
        <form method="get" action="/search">
          <input type="text" placeholder="Search for a class" name="term"/>
          <input type="submit" value="Search"/>
        </form>
        <div class="class-list">
          {{#each classes}}
            <a class="item"> 
              <span class="symbol"> {{number}} </span>
              <label> {{title}} </label>
            </a>
          {{/each}}
        </div>
      </main>
      
    </div>
  </body>
</html>