<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/scroll.js"></script>
    <script src="/js/groups.js"></script>
  </head>

  <body>
      <div class="groupsPage page">

          <div class="header">
            <span></span>
            <label class="title"> Class Members </label>
          </div>

          <main>

          </main>

          <nav>
            <a href="/class/{{url}}"> <span class="home-btn icon"> </span> </a>
            <a href="/class/{{url}}/groups" > <span class="group-btn icon"> </span> </a>
            <a href="/class/{{url}}/list" class="selected"> <span class="group-btn icon"> </span> </a>
          </nav>

      </div>
  </body>
</html>