<!DOCTYPE html>
<html>
  <head>
    <title> Triton Friends </title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/scroll.js"></script>
    <script src="/js/profile.js"></script>
  </head>

  <body>
    <div class="profile page">
      <div class="header">
        <div class="bar">
          <span> <a class="back-btn icon" href="../list"> </a> </span>
          <span></span>
          <span></span>
        </div>
      </div>

      <main>
        <span class="name"> <span> <span class="picture light"></span> </span> <label class="flex"> {{name}} </label> </span>
        <span> <span class="school-btn"> </span> <label class="year-label"> Graduating Year: {{year}} </label>  </span>
        <span> <span class="major-btn"> </span> <label class="major-label"> {{major}} </label> </span>
      </main>
      
    </div>
  </body>
</html>