/************** variables **************
  Edit css variables here
  - Using a variable example:
      background: var(--post-bg);
*/
:root {
  --post-bg: rgb(211, 211, 211);
  --icon-bg: rgb(211, 211, 211);
  --button-bg: rgb(233, 233, 233);
  --nav-bg: rgb(211, 211, 211);
  --pic-light: gray;
  --pic-dark: rgb(75, 75, 75);

  --md-text: 1.2rem;
}




/************** element defaults **************/ 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  transition: 
    background .5s ease,
    color .5s ease,
    padding .5s ease,
    margin .5s ease;
}

html, body {
  display: flex;
  width: 100%;
  height: 100%;
}

button {
  outline: none;
  border: none;
  background: var(--button-bg);
}

button:focus{ 
  outline: none;
}

a[href] {
  text-decoration: none;
  color: inherit;
}

textarea:focus, input:focus{
  outline: none;
}



/************** button icons **************/ 

/* i usually just apply these styles to <span> tags to avoid default button styles since im just overlaying an image */

.back-btn, .home-btn, .group-btn, .up-btn, .comment-btn, .post-btn {
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.back-btn {
  background-image: url("icons/navigate_before-24px.svg");
}

.home-btn {
  background-image: url("icons/home-24px.svg");
}

.group-btn {
  background-image: url("icons/group-24px.svg");
}

.up-btn {
  background-image: url("icons/north-24px.svg");
}

.comment-btn {
  background-image: url("icons/mode_comment-24px.svg");
}

.post-btn {
  background-image: url("icons/create-24px.svg");
}

.highlight {
  filter: invert(62%) sepia(77%) saturate(4857%) hue-rotate(162deg) brightness(95%) contrast(102%);
}

/* pre made styles */

.flex {
  display: flex;
}

.fill {
  flex: 1 1;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrap > *.item {
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
  height: 8rem;
  margin-bottom: 1rem;
}


.bold {
  font-weight: bold;
}

/************** default page layout **************/ 

/* header for title and back button */

.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10rem;
  background: white;
  padding: 1rem;
  transition: height .2s ease-out;
  z-index: 2;
}

.header > *:first-child,
.header > *:nth-child(2) {
  display: flex;
  flex-basis: 50%;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}

.header > .right {
  display: flex;
  flex-direction: row-reverse;
}

.header .back-btn {
  background-position-x: -15px;
  width: 2.7rem;
  height: 2.7rem;
}

.header .title {
  font-weight: bold; 
  font-size: 2.2rem;
  transition: font-size .2s ease-out;
}

.header .join-btn,
.header .leave-btn {
  display: flex;
  padding-top: .08rem;
  justify-content: center;
  background: var(--post-bg);
  height: 2rem;
  padding: .2rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 2rem;
}

.header.shrink {
  flex-direction: row;
  height: 4rem;
  align-items: center;
}

.header.shrink > *:first-child {
  flex-basis: 0;
  flex-shrink: 100%;
}

.header.shrink > *:nth-child(2) {
  flex-basis: 85%;
}

.header.reverse.shrink {
  flex-direction: row-reverse;
}

.header.reverse.shrink > *:nth-child(2) {
  flex: 1 1;
}

.header.shrink .title {
  font-size: 1.5rem;
}

/* primary content */

main {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  overflow: auto;
  padding: 0 1rem;
}

main {
  padding-top: 10rem !important;
}



.page {
  position: relative;         /* not necessary unless you want floating elements (e.g post button) */
  display: flex;              /* this turns the element into a flex box that can shrink/expand, center elements, etc. */
  flex-direction: column;     /* displays elements vertically  -- will be horizontal by default*/
  flex: 1 1;                  /* only used on elements that fill as much space as possible (e.g class list, posts feed) */
}


/* navbar */

nav {
  display: flex;
  justify-content: space-around;
  background: var(--nav-bg);
  height: 3.5rem;
}

nav > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: .5;
  flex-basis: 50%;
  font-size: .8rem;
}

nav > * > * {
  height: 2rem;
  width: 2rem;
}

nav > *.selected {
  opacity: 1;
}

/************** logn layouts **************/

.login {
  justify-content: center;
  padding: 3rem;
}

.login > .title {
  align-items: center;
  margin-bottom: 2rem;
}

.login > .title > :first-child {
  font-size: 3rem;
}

.login > .login-form {
  flex-basis: 40%;
}

input[type=text],
input[type=password],
input[type=number] {
  padding: .8rem .5rem;
  border-radius: .5rem;
  border: solid rgb(75, 75, 75);
  border-width: 1px;
  margin-bottom: 1rem;
}

.login input[type=submit],
.createAccount input[type=submit],
.round-btn {
  border: none;
  font-weight: bold;
  font-size: 1rem;
  width: 8rem;
  align-self: center;
  border-radius: 1rem;
  padding: .5rem;
  background: var(--icon-bg);
  text-align: center;
}

.login > a {
  align-self: center;
  text-decoration: underline;
  color: gray;
}

.login > .incorrect {
  text-align: center;
  margin-bottom: 1rem;
}


/************** profile layouts **************/

.profile main > span {
  display: flex;
  margin-bottom: 1.5rem;
}

.profile main > span > * {
  display: flex;
  font-size: var(--md-text);
}

.profile main > span > *:first-child {
  flex-basis: 15%;
}

.profile main > span > *:nth-child(2) {
  flex-basis: 85%;
}

.profile .name label {
  font-weight: bold;
  font-size: 1.6rem;
}

.profile .name {
  box-shadow: 0px 2px 2px -2px rgb(14, 14, 14);
  padding: 1rem 0;
}


/************** create account layouts **************/

.createAccount {
  padding: 3rem;
  font-size: var(--md-text);
  font-weight: bold;
  text-align: center;
}

.createAccount > .create-form {
  flex: 1 1;
  justify-content: center;
}

/************** homepage layouts **************/

/* * *

- these are the styles i change the most.
- sometimes its overkill but its consistent.
- i always use rem for units.

.some-style {
  position: ___;              (rarely need to set position)
  display: flex;              (will set to flex if necessary) 
  flex-direction: column;     (if applicable)
  width: ___rem;              (dimensions if applicable)
  height: ___rem; 
  padding: ___rem;            (padding OR margins, i usually dont use both)
  margin: ____rem;
  background: ___;            (background color)
  font-size: ___rem;          (fonts if applicable, will use parent font by default)
}

* * */


.home .class-list {
  margin-bottom: 15vh;
}


.home .class-list > .item {
  display: flex;
  align-items: center;        /* will center child elements horizontally if elements are displayed vertically and vice versa */
  width: 100%;
  padding: 1.5rem 2rem;       /* padding: top left (bottom) (right)
                                  - if bottom and right are unspecified then it applies same values from top and left.
                                  - can also just using padding-top, padding-left, etc. for specifying a single direction
                              */
  font-weight: bold
}

.home .class-list > .item * {
  cursor: pointer;
}

.home .class-list > .item > .symbol {
  display: flex;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-content: center;    /* will center child elements vertically if elements are displayed horizontally and vice versa */
  background: var(--icon-bg); /* using color from --icon-bg variable */
  border-radius: 1.3rem;
  font-size: var(--md-text);
  margin-right: 1rem;         /* works the same way as padding values */
}

.home .class-list > .item > label {
  font-size: 1.5rem;
}


.home .join-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
  width: 10rem;
  height: 3rem;
  align-self: center;         /* same thing as align items but applies it to self instead of child elements */
  background: var(--button-bg);
  border-radius: 2rem;        /* changes how round borders are. 2-5rem is usually perfectly round. */
  font-size: 1.2rem;
  font-weight: bold;
}


/************** join class page layouts **************/

.joinClass input[type=text] {
  width: 100%;
}

.joinClass .class-list {
  padding: 0 .5rem;
}

.joinClass .class-list > .item {
  font-weight: bold;
  padding: .8rem 0;
}

/************** class page layouts **************/

.classPage .posts-list > .item {
  display: flex;
  flex-direction: column;
  padding: .8rem;
  background: lightgray;
  font-size: .8rem;
}

.classPage .posts-list > .item,
.classPage .posts-list > .item > *:not(:last-child) {
  margin-bottom: 1rem;
}


.classPage .posts-list > .item > .name {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.picture {
  display: flex;
  background: var(--pic-dark);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 2rem;
  margin-right: .8rem;
}


.classPage .posts-list > .item > .button-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.classPage .posts-list > .item > .button-panel label {
  margin-left: .5rem;
}

.classPage .posts-list > .item > .button-panel .up-btn,
.classPage .posts-list > .item > .button-panel .comment-btn {
  width: 1.2rem;
  height: 1.3rem;
}


.post-btn {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  background-position: center;
  background-size: 55%;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(128, 128, 128, 0.481);
}

.popup.visible {
  display: flex;
}

.popup > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 12rem;
  width: 90%;
  border-radius: 1rem;
  padding: 1rem;
  background: white;
}

.popup > div label {
  font-weight: bold;
  font-size: var(--md-text);
}

.popup > div span {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.comment-form,
.post-form {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: lightgray;
  padding: .5rem;
  visibility: hidden;
}

.comment-form.visible,
.post-form.visible {
  visibility: visible;
  z-index: 5;
}

.comment-form > .cancel,
.post-form > .cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: .2rem;
  border-radius: 2rem;
  background: white;
  font-size: .7rem;
  font-weight: bold;
}

.comment-form > textarea,
.post-form > textarea {
  flex-basis: 50%;
  border: none;
  outline: none;
  color: black;
  background: none;
  padding: 2rem;
  font-size: 1rem;
  resize: none;
}

.comment-form > span > .confirm,
.post-form > span > .confirm {
  float: right;
  padding: .2rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
}

/************** groups page layouts **************/

.groupsPage .groups-list > .item {
  background: var(--post-bg);
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  justify-content: flex-end;
  font-weight: bold;
}

.groupsPage .menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60%;
  right: 1rem;
  bottom: 8rem;
  opacity: 0;
  z-index: -1;
  transition: opacity .1s ease;
}

.groupsPage .menu.visible {
  z-index: 2;
  opacity: 1;
}

.groupsPage .menu > * {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  height: 2rem;
  margin-bottom: .5rem;
  background: lightgray;
}

.add-btn {
  display: flex;
  justify-content: center;
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  font-size: 2rem;
  transition: transform .2s ease;
}

.add-btn.rotate {
  transform: rotate(45deg);
}


/************** groups page layouts **************/

.listPage .member {
  align-items: center;
  margin-bottom: 1rem;
}

.listPage .member .picture {
  background: var(--pic-light);
  height: 2.5rem;
  width: 2.5rem;
}

/************** join groups page layouts **************/

.joinGroup .groups-list > .item {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.joinGroup .groups-list > .item > *:first-child {
  flex-basis: 40%;
}

.joinGroup .circles {
  display: flex;
  overflow: hidden;
}

.joinGroup .circles .circle {
  background: var(--icon-bg)
}

/************** request page layouts **************/

.circle {
  display: flex;
  height: 2rem;
  width: 2rem;
  background: rgb(255, 255, 255);
  color: transparent;
  border-radius: 2rem;
}


.requestGroup main {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.requestGroup .info {
  border-radius: 1rem;
  background: var(--post-bg); 
  padding: 1rem;
}

.requestGroup .info > * {
  margin-bottom: 1rem;
}

.requestGroup .info > .name {
  font-size: 1.6rem;
  font-weight: bold;
}

.requestGroup .info > p {
  font-size: 1.2rem;
}

.requestGroup .info > .join-btn {
  font-weight: bold;
  font-size: 1rem;
  width: 8rem;
  align-self: center;
  border-radius: 1rem;
  padding: .5rem;
  background: white;
}

.requestGroup .info > .circles {
  display: flex;
  align-self: center;
  width: 90%;
  margin-bottom: 1rem;
  justify-content: center;
  overflow: hidden
}

.requestGroup .info > .circles > * {
  margin: 0 .5rem;
}




/************** single group page layouts **************/

.group main > * {
  margin-bottom: 2rem;
}

.group h3 {
  font-size: var(--md-text);
  margin-bottom: 1rem;
}


.group .members-list {
  display: flex;
  flex-direction: column;
}

.group .members-list > *{
  display: flex;
  font-size: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.group .members-list > * > .name {
  font-weight: bold;
  flex-basis: 35%;
}

.group .members-list > * > .picture {
  height: 2.5rem;
  width: 2.5rem;
  background: var(--pic-light)
}

/************** create group page layouts **************/

.createGroup .group-form {
  padding-bottom: 1rem;
}

.createGroup .group-form textarea {
  padding: .8rem .5rem;
  border-radius: .5rem;
  border: solid rgb(75, 75, 75);
  border-width: 1px;
  height: 10rem;
  margin-bottom: 1rem;
}