/************** variables **************
  Edit css variables here
  - Using a variable example:
      background: var(--post-bg);
*/
:root {
  --post-bg: rgb(211, 211, 211);
  --icon-bg: rgb(211, 211, 211);
  --button-bg: rgb(233, 233, 233);
  --nav-bg: rgb(211, 211, 211);
}




/************** element defaults **************/ 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  transition: 
    background .5s ease,
    color .5s ease,
    padding .5s ease,
    margin .5s ease;
}

html, body {
  display: flex;
  width: 100%;
  height: 100%;
}

button {
  outline: none;
  border: none;
  background: var(--button-bg);
}

button:focus{ 
  outline: none;
}

a[href] {
  text-decoration: none;
  color: inherit;
}



/************** button icons **************/ 

/* i usually just apply these styles to <span> tags to avoid default button styles since im just overlaying an image */

.back-btn, .home-btn, .group-btn, .up-btn, .comment-btn, .post-btn {
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.back-btn {
  background-image: url("icons/navigate_before-24px.svg");
}

.home-btn {
  background-image: url("icons/home-24px.svg");
}

.group-btn {
  background-image: url("icons/group-24px.svg");
}

.up-btn {
  background-image: url("icons/north-24px.svg")
}

.comment-btn {
  background-image: url("icons/mode_comment-24px.svg")
}

.post-btn {
  background-image: url("icons/create-24px.svg")
}




/************** default page layout **************/ 

/* header for title and back button */

.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10rem;
  background: white;
  padding: 1rem;
  transition: height .3s;
  z-index: 2;
}

.header > *:first-child,
.header > *:nth-child(2) {
  flex-basis: 50%;
  width: 100%;
}

.header .back-btn {
  background-position-x: -15px;
  width: 2.7rem;
  height: 2.7rem;
}

.header .title {
  font-weight: bold; 
  font-size: 2.5rem;
  transition: font-size .2s;
}

.header.shrink {
  flex-direction: row;
  height: 4rem;
  align-items: center;
}

.header.shrink > *:first-child {
  flex-basis: 0;
  flex-shrink: 100%;
}

.header.shrink > *:nth-child(2) {
  flex-basis: 85%;
}


.header.shrink .title {
  font-size: 1.5rem;
}

/* primary content */

main {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  overflow: auto;
  padding: 0 1rem;
}

.homepage > main,
.classpage > main {
  padding-top: 10rem !important;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-around;
  background: var(--nav-bg);
  height: 3.5rem;
}

nav > * {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
}

nav > * > * {
  height: 2rem;
  width: 2rem;
}



.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}


/************** homepage layouts **************/

/* * *

- these are the styles i change the most.
- i always use rem for units.

.some-style {
  position: ___;              (rarely need to set position)
  display: flex;              (will set to flex if necessary) 
  flex-direction: column;     (if applicable)
  width: ___rem;              (dimensions if applicable)
  height: ___rem; 
  padding: ___rem;            (padding OR margins, i usually dont use both)
  margin: ____rem;
  background: ___;            (background color)
  font-size: ___rem;          (fonts if applicable, will use parent font by default)
}

* * */

.homepage,
.homepage > .class-list {
  position: relative;         /* not necessary unless you want floating elements (e.g post button) */
  display: flex;              /* this turns the element into a flex box that can shrink/expand, center elements, etc. */
  flex-direction: column;     /* displays elements vertically  -- will be horizontal by default*/
  flex: 1 1;                  /* only used on elements that fill as much space as possible (e.g class list, posts feed) */
}


.homepage .class-list {
  margin-bottom: 15vh;
}


.homepage .class-list > .item {
  display: flex;
  align-items: center;        /* will center child elements horizontally if elements are displayed vertically and vice versa */
  width: 100%;
  padding: 1.5rem 2rem;       /* padding: top left (bottom) (right)
                                  - if bottom and right are unspecified then it applies same values from top and left.
                                  - can also just using padding-top, padding-left, etc. for specifying a single direction
                              */
  font-weight: bold
}

.homepage .class-list > .item * {
  cursor: pointer;
}

.homepage .class-list > .item > .symbol {
  display: flex;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-content: center;    /* will center child elements vertically if elements are displayed horizontally and vice versa */
  background: var(--icon-bg); /* using color from --icon-bg variable */
  border-radius: 1.3rem;
  font-size: 1.3rem;
  margin-right: 1rem;         /* works the same way as padding values */
}

.homepage .class-list > .item > label {
  font-size: 1.5rem;
}


.homepage .join-btn {
  position: fixed;
  bottom: 2rem;
  width: 10rem;
  height: 3rem;
  align-self: center;         /* same thing as align items but applies it to self instead of child elements */
  background: var(--button-bg);
  border-radius: 2rem;        /* changes how round borders are. 2-5rem is usually perfectly round. */
  font-size: 1.2rem;
  font-weight: bold;
}




/************** class page layouts **************/

.classpage,
.classpage .posts-list  {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
}


.classpage .posts-list > .item {
  display: flex;
  flex-direction: column;
  padding: .8rem;
  background: lightgray;
  font-size: .8rem;
}

.classpage .posts-list > .item,
.classpage .posts-list > .item > *:not(:last-child) {
  margin-bottom: 1rem;
}


.classpage .posts-list > .item > .name {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.classpage .posts-list > .item > .name > .picture {
  background: rgb(75, 75, 75);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 2rem;
  margin-right: .8rem;
}


.classpage .posts-list > .item > .button-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.classpage .posts-list > .item > .button-panel label {
  margin-left: .5rem;
}

.classpage .posts-list > .item > .button-panel .up-btn,
.classpage .posts-list > .item > .button-panel .comment-btn {
  width: 1.2rem;
  height: 1.3rem;
}


.classpage .post-btn {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  background-position: center;
  background-size: 55%;
}